[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/unique-contracts"]
	path = lib/unique-contracts
	url = https://github.com/UniqueNetwork/unique-contracts
